@import '../theme.scss';

$padding: 6px;
$accent: $blue;

window.bar {
  @include box;

  border-radius: 0 0 $border-radius $border-radius;
  border-top: none;
  font-size: 10.7px;

  .left-side {
    margin-left: $padding * 2;
  }

  .right-side {
    margin-right: $padding;
  }

  .subgroup, .app-name {
    background-color: $bg_highlight;
    padding: 2.5px 7px;
    border-radius: calc(5px);
    color: $fg;
    margin: 4px 0 $padding 0;
  }

  .launcher-entry {
    min-height: 16px;
    border: none;
    box-shadow: none;
    color: transparent;
    background-color: transparent;
    margin-left: -2px;
    min-width: 350px;
  }

  .launcher-entry selection {
    color: transparent;
    background-color: $fg_gutter;
  }

  .autocomplete-box {
    margin-left: 5px;
  }

  .launcher-autocomplete {
    color: $comment;
    margin-left: 1px;
  }

  .icon {
    font-size: 12px;
    margin-left: -2px;
  }

  .workspaces {
    label {
      font-size: 0;
      min-width: 5pt;
      min-height: 5pt;
      background-color: $bg;
      border-radius: 50%;

      &.occupied {
        border-radius: 30%;
        background-color: $fg_gutter;
        min-width: 7pt;
        min-height: 7pt;
      }

      &.active {
        font-size: 8px;
        color: $fg_gutter;
        border-radius: 4pt;
        background-color: $accent;
        padding-top: 2px;
        min-width: 18pt;
        min-height: 10pt;
      }
    }
  }

  .battery-icon {
    font-size: 16px;
    margin-left: -3px;
    margin-right: -3px;
  }
}
